*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#head{
    padding: 20px 20px 20px 60px;
}
#first{
    padding-bottom: 40px;
}
#first h3{
    font-size: 50px;

}
#first p{
    letter-spacing: 5px;
}
.fl{
    list-style: none;
    padding-bottom: 14px;
}
#but{
    padding-bottom: 60px;
    padding-top: 20px;
    
}
button{
    display: block;
    
}
.bt{
    padding: 10px 30px 10px 30px;
    background-color: #e3c207;
    color: white;
    border: white;
}
.tb{
    padding: 10px 34px 10px 34px;
    background-color: black;
    color: white;
    border: white;

}
.sl{
    list-style: none;
    padding-bottom: 10px;
}
sl span{
    font-size: 5px;
}
#is{
    padding-bottom: 40px;
}
#con{
    padding-right: 25px;
    padding-bottom: -9000px;
}
.con{
    padding-bottom: 60px;
}
#fut{
    background-color: grey;
    width: 100%;
    padding: 30px 80px 10px 80px;
}
#fut p{
    padding-bottom: 20px;
    color: white;
}
.tuf{
    background-color: black;
    width: 100%;
    padding: 30px 80px 30px 80px;
    color: white;

}
.tuf h3{
    font-size: 50px;

}
.tuf p{
    letter-spacing: 5px;
}
#sss{
    width: 30%;
    height: 30px;
    position: relative;
    top: -60px;
    left: 600px;
}
#btt{
    width: 100px;
    height: 30px;
    position: relative;
    top: -60px;
    left: 575px;
    background-color: #e3c207;
    border: 1px solid grey;
}
.ko{
    display: inline;
    padding-right: 60px;
    position: relative;
    top: -55px;
    left: 575px;
}
.ko:hover{
    color: #e3c207;
}
#subb{
    font-size: 30px;
    letter-spacing: 5px;
}
#subb span{
    color: #e3c207;
}

img{
    height: 140px;
    width: 300px;
    display: block;
    position: relative;
    top: 90px;
}